<script src="/javascripts/angular/controllers/admin/AdminUserController.js"></script>
<div id="single-page-admin">
	<div class="container">
		<h2 class="wow fadeInLeft"><%= __('UPDATE USER') %></h2>
		<div class="title-line-left wow fadeInRight"></div>		  
	</div><!-- .container -->
	<div class="content">
		<div class="container" ng-controller="AdminUserController as adminUserCtrl" ng-init="adminUserCtrl.loadUser()">
			<form name="editUserForm" ng-submit="adminUserCtrl.updateUser()" novalidate>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label><%= __('First name') %></label>
						<input ng-model="adminUserCtrl.user.firstname" class="form-control" type="text" />
					</div>
					<div class="col-xs-12 col-sm-6">
						<label><%= __('Last name') %></label>
						<input ng-model="adminUserCtrl.user.lastname" class="form-control" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<label><%= __('Email') %></label>
						<input ng-model="adminUserCtrl.user.email" class="form-control" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label><%= __('Country') %></label>
	        			<bootstrap-dropdown ng-model="adminUserCtrl.user.country" data-placeholder="adminUserCtrl.placeholder_country" data-dropdown-data="adminUserCtrl.countries" ng-change="adminUserCtrl.loadCities()" data-selected-id="{{ adminUserCtrl.user.country._id }}" data-selected-text="{{ adminUserCtrl.user.country.en.name }}"></bootstrap-dropdown>
	        		</div>
	    			<div class="col-xs-12 col-sm-6">
	    				<label><%= __('City') %></label>
	    				<bootstrap-dropdown ng-model="adminUserCtrl.user.city" data-placeholder="adminUserCtrl.placeholder_city" data-dropdown-data="adminUserCtrl.cities" data-selected-id="{{ adminUserCtrl.user.city._id }}" data-selected-text="{{ adminUserCtrl.user.city.en.name }}"></bootstrap-dropdown>
	    			</div>
	    		</div>
	    		<div class="row">
					<div class="col-xs-12 col-sm-6">
						<label><%= __('Profile type') %></label>
	        			<bootstrap-dropdown data-ng-model="adminUserCtrl.user.profile" data-placeholder="adminUserCtrl.placeholder_profile" data-dropdown-data="adminUserCtrl.profiles" data-selected-id="{{ adminUserCtrl.user.profile._id }}" data-selected-text="{{ adminUserCtrl.user.profile.en.description }}"></bootstrap-dropdown>
	        		</div>
	    			<div class="col-xs-12 col-sm-6">
	    				<label><%= __('Status') %></label>
	    				<bootstrap-dropdown data-ng-model="adminUserCtrl.user.status" data-placeholder="adminUserCtrl.placeholder_status" data-dropdown-data="adminUserCtrl.status" data-selected-id="{{ adminUserCtrl.user.status._id }}" data-selected-text="{{ adminUserCtrl.user.status.en.name }}"></bootstrap-dropdown>
	    			</div>
	    		</div>
	    		<div class="row" ng-show="adminUserCtrl.status==1">
		        		<div class="col-xs-12">
		        			<p ng-show="adminUserCtrl.status==1" class="text-center" style="font-size: 1.1em; margin-top: 0.5em;">
								<span class="label label-danger">{{adminUserCtrl.message}}</span>
							</p>
		        		</div>
		        	</div> <!-- .row message error -->
				<div class="row row-submit">
	        		<div class="col-xs-6 col-sm-2 col-sm-offset-4">
	        			<input type="submit" class="btn btn-default" value="<%= __('Update') %>" />
	        		</div>
	        		<div class="col-xs-6 col-sm-2">
	        			<a href="<%= siteRoot %>admin/user/list.html" class="btn btn-dark"><%= __('Cancel') %></a>
	        		</div>
	        	</div>
			</form>
		</div><!-- .container -->
	</div><!-- .content -->
</div><!-- #single-page -->