<html>
	<head></head>
	<body>
		<p><%= introText %></p><br />
		<p><b><%= nameTitle %>:</b> <%= name %></p>
		<p><b><%= emailTitle %>:</b> <%= email %></p>
		<p><b><%= commentsTitle %>:</b> <%= comments %></p>
	</body>
</html>