<li><a href="<%= siteRoot %><%= lang %>/user/{{ mainCtrl.userLogged._id }}/profile.html">
	<i class="pe-7s-user pe-2x pe-va"></i>
	<%= __('PROFILE') %>
</a></li>
<li><a href="#">
	<i class="pe-7s-date pe-2x pe-va"></i>
	<%= __('MY EVENTS') %>
</a></li>
<li><a href="#">
	<i class="pe-7s-mail pe-2x pe-va"></i>
	<%= __('MY MESSAGES') %>
</a></li>
<li><a href="<%= siteRoot %><%= lang %>/user/logout.html">
	<i class="pe-7s-close-circle pe-2x pe-va"></i>
	<%= __('LOG OUT') %>
</a></li>