<script src="/javascripts/angular/controllers/SubscriptionController.js"></script>

<div id="menu">
	<nav class="navbar-wrapper navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
					<span class="sr-only">Toggle navigation</span>
				  	<span class="icon-bar"></span>
				  	<span class="icon-bar"></span>
				  	<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand site-name" href="#top"></a>
			</div>
	 
			<div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="/<%= lang %>"><%= __('Inicio') %></a></li>
					<li><a href="#"><%= __('Login') %></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div id="single-page">
	<div class="container">
		<h2 class="wow fadeInLeft"><%= __("TERMS OF USE") %></h2>
		<div class="title-line-left wow fadeInRight"></div>		  
	</div>
	<div class="content">
		<div class="container">
			<h3>1. <%= __("Definitions") %></h3>
			<p class="text-left"><%= __("For the  purpose of these General Terms and Conditions this article defines the meaning  of the following terms and expressions:") %></p>
			<ol>
				<li><%= __("Eventorship: the company incorporated under the laws of  Spain, Eventorship, S.L") %></li>
				<li><%= __("General Conditions: these general terms and conditions") %></li>
				<li><%= __("Website: the website located at the domain … and/or  any other website owned or administered by Eventorship, S.L. and located at  a Spanish domain, including the tools provided on that website") %></li>
				<li><%= __("User: a person registered as a member of the Website") %></li>
				<li><%= __("Poster: a User that posts an advertisement for a Job or  a Skill to all or some Users or to one specific User") %></li>
				<li><%= __("Job: any service, regardless its juridical nature, requested  by a Poster and/or subject of a User Contract") %></li>
				<li><%= __("Skill: any skill or service, regardless its juridical  nature, offered by a Poster and/or subject of a User Contract") %></li>
				<li><%= __("User Contract: A contract entered into by Users regarding  one or various Jobs") %></li>
				<li><%= __("Swap: the payment of a Job by delivering another Job  in return") %></li>
			</ol>
			<h3>2. <%= __("General Stipulations") %></h3>
			<ol>
				<li><%= __("Eventorship is  domiciled at C/Señora sergia 2(28250) Torrelodones, Madrid, Spain. (N.I.F.) 73196795P.") %></li>
				<li><%= __("The  General Conditions apply whenever a User makes use of the Website and they apply  to the complete legal relationship between Eventorship and Users, including all  services delivered by Eventorship to a User and their payment by the User to  Eventorship.") %> </li>
				<li><%= __("Users have  accepted these General Terms and Condition upon clicking the submit button  during the registration process.") %> </li>
				<li><%= __("If any  clause of the General Conditions is declared null and void or invalid by court  sentence, this shall not affect the validity and enforceability of those  clauses not affected by said declaration of nullity or invalidity.") %></li>
			</ol>
			<h3>3. <%= __("Use of the website") %></h3>
			<ol>
				<li><%= __("The User is not  allowed to violate any laws, third party rights or the General Conditions,  whether by posting Jobs, making offers, enter into User Contracts or in any  other way using the Website. The User is obliged to fulfill any tax obligation  and any other obligation towards government authorities arising from the use of  this website and the entering into User Agreements.") %> </li>
				<li><%= __("The User is not  allowed to use the Website when he or she is not able to form legally binding  contracts.") %></li>
				<li><%= __("The User is not  allowed to circumvent or manipulate the fee structure or the billing process of  Eventorship. The User is not allowed to transfer his Eventorship account to another  party.") %></li>
				<li><%= __("The User is not  allowed to post false, inaccurate, misleading, defamatory, or libelous content.") %></li>
				<li><%= __("The User is not  allowed to distribute viruses or any other technologies that may harm Eventorship,  the Website , or the interests or property of other Users to harvest or  otherwise collect information about Users, including email addresses, without  their consent or to distribute or post spam, unsolicited or bulk electronic  communications apart from the Posting of offers by way of filling out the  appropriate forms.") %></li>
				<li><%= __("The User is not  allowed to copy, modify, or distribute rights or content from the Website.") %> </li>
			</ol>
			<h3>4. <%= __("Jobs and Skills: User Contracts") %></h3>
			<ol>
				<li><%= __("User Contracts are  entered into by Users and have as subject the rendering of a certain Job in  exchange for money or a Job in return (Swap).") %> </li>
				<li><%= __("In case a price  in money is agreed, the User Contract is materialized by:") %></li>
				<ol>
					<li><%= __("the posting of a  Job by a User to all or some Users or to one specific User, ") %></li>
					<li><%= __("a consequent  offer in money regarding that Job by another User and") %> </li>
					<li><%= __("the consequent acceptance  of this offer by the Poster.") %> </li>
				</ol>
				<li><%= __("In case a Swap  is agreed, the User Contract is materialized by:") %></li>
				<ol>
					<li><%= __("the posting of a  Job by a User to all or some Users or to one specific User, ") %></li>
					<li><%= __("a consequent  offer regarding that Job and the proposal of a Job in return by another User, ") %></li>
					<li><%= __("the acceptance  of the proposed Job or Skill in return by the original poster") %></li>
					<li><%= __("As long as an  offer has not been accepted, a User is allowed to modify its original post.  Modifying a post renders earlier offers regarding that post invalid.") %></li>
					<li><%= __("Once the Job(s)  subject of the User Contract is/are performed, the Performer(s) send a message  of completion to the other Party. If a price in money is agreed upon payment  takes place within 10 days after the message of completion has been sent. ") %></li>
					<li><%= __("Upon completion,  Parties will post an accurate review of the Job on the website.") %></li>
				</ol>
			</ol>
			<h3>5. <%= __("Subscription and Payment") %></h3>
			<ol>
				<li><%= __("Users pay Eventorship for using the website at a certain moment during the posting and allocation process. Prices may vary and details are available on the website. These prices and details can be changed with a month's notice.") %></li>
				<li><%= __("Users also pay Eventorship to place their jobs and skills in a special promotional section of the website. Prices may vary and details are available on the website. These prices and details can be changed with a month's notice.") %></li>
				<li><%= __("Eventorship might offer Users different account types. Prices may vary and details are available on the website. These prices and details can be changed with a month's notice.") %></li>
			</ol>
			<h3>6. <%= __("Conflicts regarding Users") %></h3>
			<ol>
				<li><%= __("In case a  conflict arises between Users, both Users can report the issue to Eventorship. Upon  request by both or either User, Eventorship will mediate between Users and offer  the solution to the conflict it deems appropriate. Neither the mediation nor  the proposed solution is in any way binding to parties and does not prevent Users  from taking any other legal action they deem fit.") %></li>
			</ol>
			<h3>7. <%= __("Suspension of Users, deleting of messages") %></h3>
			<ol>
				<li><%= __("Eventorship has the right in its  sole discretion to suspend a User, temporarily of indefinitely, to limit,  suspend, or terminate services and User accounts, to prohibit access to the Website,  to delay or remove hosted content, and to take technical and legal steps to  keep a User from using the website in case it considers that this User has violated  the General Conditions or in any way does not comply with its contractual  obligations towards Eventorship or other Users.") %></li>
			</ol>
			<h3>8. <%= __("Liability") %></h3>
			<ol>
				<li><%= __("Eventorship is not responsible for the contents of the  messages posted by Users on this website, the (non)fulfillment of User Contracts,  the damages caused by default of the obligations arising from the User  Contracts or the (non)fulfillment of tax or any other legal obligations  by its Users. ") %></li>
				<li><%= __("Eventorship waives liability for damages as a consequence  of the use of the Website, delays or disruptions in the Website and Viruses or other malicious software obtained by  accessing the website. ") %> </li>
				<li><%= __("Users shale indemnify and hold Eventorship harmless from all  claims, costs, proceedings, demands, losses, expenses and liabilities resulting  from the contents of the messages they have posted on the website, defaulting  in their contractual obligations or the non-fulfillment of their tax or any  other legal obligations.") %></li>
			</ol>
			<h3>9. <%= __("Jurisdiction and Applicable law") %></h3>
			<ol>
				<li><%= __("All  disputes between Eventorship and Users shall be settled only by the courts of  Barcelona, Spain. Users hereby expressly submit to its competence and  jurisdiction, excluding the compentence of any other court.") %></li>
				<li><%= __("The use of  this website and any contract constituted between Eventorship and Users and any  contract between Users constituted by making use of the Website are governed by  Spanish Law.") %></li>
			</ol>
		</div><!-- .container -->
	</div><!-- .content -->
</div>
