<%- include ../_menu.ejs %>

<div id="single-page">
	<div class="container">
		<h2 class="wow fadeInLeft"><%= __('LOGIN PLEASE') %></h2>
		<div class="title-line-left wow fadeInRight"></div>		  
	</div><!-- .container -->
	<div class="content">
		<div class="container">
			<form name="loginForm" id="login-form" ng-submit="mainCtrl.login()" ng-init="mainCtrl.setReferrer('<%= referrer %>')" novalidate>
        		<div class="row row-form">
        			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
        				<input ng-model="mainCtrl.username" class="form-control" type="text" name="username" placeholder="<%= __('Username') %>" required />
        			</div>
        		</div>
        		<div class="row row-form">
	        		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	        			<input ng-model="mainCtrl.password" class="form-control" type="password" name="password" placeholder="<%= __('Password') %>" required />
	        		</div>
	        	</div>
				<p ng-show="mainCtrl.loginStatus==1" class="text-center" style="font-size: 1.1em; margin-top: 0.5em;">
					<span class="label label-danger">{{mainCtrl.loginMessage}}</span>
				</p>
	        	<div class="row row-form">
	        		<div class="col-xs-12 col-sm-6 col-sm-offset-3"> 
	        			<p class="text-center" style="font-size: 0.8em;">
		        			<a href="#" data-toggle="modal" data-target="#popupCreateUser" data-dismiss="modal"><%= __('I want an account') %></a> | 
		        			<a href="#"><%= __('Forgot my password') %></a>
		        		</p>
	        		</div>
	        	</div>
	        	<div class="row row-form">
	        		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
	        			<input type="submit" class="btn btn-default" value="<%= __('Login') %>" />
	        		</div>
	        	</div>
        	</form>
		</div><!-- .container -->
	</div><!-- .content -->
</div><!-- #single-page -->